<h1 class="page-title text-center">お問い合わせ送信完了</h1>

<div class="text-center">
  <br><br>
  <p>この度はお問い合わせいただき、誠にありがとうございます。</p>
  <p>担当者より折り返しご連絡いたしますので、今しばらくお待ちください。</p>
  <br>
  <p>数日経っても当サイトからの連絡がない場合、大変お手数ですが、</p>
  <p>お電話よりお問い合わせください。</p>
  <br>
  <%= link_to "トップページに戻る", root_path, class: "btn btn-success" %>
</div>