<div class="main-visual">
	<div class="page-header">
    <h1 class="page-title"><em>TennisLifeへようこそ!</em></h1>
       <p class="lead">
         TennisLifeはテニスについて語り合ったり、<br>
         一緒にテニスを楽しむ仲間を見つけることができるサイトです。<br>
         気軽に会員登録をしてみましょう！！
      </p>
  </div>
</div>