<div class="map">
  <%= image_tag "map_of_japan.jpg", usemap:"#ImageMap", style:"height: 800px; width: 900px;" %>
  <div class="search">
      <%= render 'search_form' %>
  </div>
</div>
<map name="ImageMap">
  <area shape="rect" coords="698,75,845,232" title="北海道" href="circles?prefecture_code=1"　alt="" />

  <area shape="rect" coords="702,247,813,294" title="青森" href="circles?prefecture_code=2" alt="" />

  <area shape="rect" coords="759,300,811,343" title="岩手" href="circles?prefecture_code=3" alt="" />

  <area shape="rect" coords="763,350,809,392" title="宮城" href="circles?prefecture_code=4" alt="" />

  <area shape="rect" coords="702,296,755,341" title="秋田" href="circles?prefecture_code=5" alt="" />

  <area shape="rect" coords="703,348,754,392" title="山形" href="circles?prefecture_code=6" alt="" />

  <area shape="rect" coords="703,398,814,445" title="福島" href="circles?prefecture_code=7" alt="" />

  <area shape="rect" coords="760,500,812,544" title="茨城" href="circles?prefecture_code=8" alt="" />

  <area shape="rect" coords="756,448,813,494" title="栃木" href="circles?prefecture_code=9" alt="" />

  <area shape="rect" coords="702,450,757,495" title="群馬" href="circles?prefecture_code=10" alt="" />

  <area shape="rect" coords="702,502,754,543" title="埼玉" href="circles?prefecture_code=11" alt="" />

  <area shape="rect" coords="761,552,809,645" title="千葉" href="circles?prefecture_code=12" alt="" />

  <area shape="rect" coords="702,553,755,594" title="東京" href="circles?prefecture_code=13" alt="" />

  <area shape="rect" coords="701,599,755,647" title="神奈川" href="circles?prefecture_code=14" alt="" />

  <area shape="rect" coords="647,397,698,443" title="新潟" href="circles?prefecture_code=15" alt="" />

  <area shape="rect" coords="590,399,641,444" title="富山" href="circles?prefecture_code=16" alt="" />

  <area shape="rect" coords="535,398,587,445" title="石川" href="circles?prefecture_code=17" alt="" />

  <area shape="rect" coords="533,450,589,494" title="福井" href="circles?prefecture_code=18" alt="" />

  <area shape="rect" coords="647,549,700,597" title="山梨" href="circles?prefecture_code=19" alt="" />

  <area shape="rect" coords="648,449,697,546" title="長野" href="circles?prefecture_code=20" alt="" />

  <area shape="rect" coords="592,450,644,545" title="岐阜" href="circles?prefecture_code=21" alt="" />

  <area shape="rect" coords="647,600,699,648" title="静岡" href="circles?prefecture_code=22" alt="" />

  <area shape="rect" coords="592,552,641,597" title="愛知" href="circles?prefecture_code=23" alt="" />

  <area shape="rect" coords="534,549,589,597" title="三重" href="circles?prefecture_code=24" alt="" />

  <area shape="rect" coords="534,498,587,547" title="滋賀" href="circles?prefecture_code=25" alt="" />

  <area shape="rect" coords="478,497,531,546" title="京都" href="circles?prefecture_code=26" alt="" />

  <area shape="rect" coords="423,550,474,596" title="大阪" href="circles?prefecture_code=27" alt="" />

  <area shape="rect" coords="423,500,475,547" title="兵庫" href="circles?prefecture_code=28"alt="" />

  <area shape="rect" coords="479,551,529,595" title="奈良" href="circles?prefecture_code=29" alt="" />

  <area shape="rect" coords="421,602,531,647" title="和歌山" href="circles?prefecture_code=30" alt="" />

  <area shape="rect" coords="364,496,420,546" title="鳥取" href="circles?prefecture_code=31" alt="" />

  <area shape="rect" coords="311,498,365,545" title="島根" href="circles?prefecture_code=32" alt="" />

  <area shape="rect" coords="367,550,419,597" title="岡山" href="circles?prefecture_code=33" alt="" />

  <area shape="rect" coords="311,550,364,597" title="広島" href="circles?prefecture_code=34" alt="" />

  <area shape="rect" coords="254,497,308,597" title="山口" href="circles?prefecture_code=35" alt="" />

  <area shape="rect" coords="329,672,385,715" title="徳島" href="circles?prefecture_code=36" alt="" />

  <area shape="rect" coords="330,618,384,665" title="香川" href="circles?prefecture_code=37" alt="" />

  <area shape="rect" coords="273,617,326,666" title="愛媛" href="circles?prefecture_code=38" alt="" />

  <area shape="rect" coords="272,669,327,717" title="高知" href="circles?prefecture_code=39" alt="" />

  <area shape="rect" coords="123,497,178,547" title="福岡" href="circles?prefecture_code=40" alt="" />

  <area shape="rect" coords="69,497,123,545" title="佐賀" href="circles?prefecture_code=41" alt="" />

  <area shape="rect" coords="70,549,123,595" title="長崎" href="circles?prefecture_code=42" alt="" />

  <area shape="rect" coords="125,550,178,597" title="熊本" href="circles?prefecture_code=43" alt="" />

  <area shape="rect" coords="183,499,234,546" title="大分" href="circles?prefecture_code=44" alt="" />

  <area shape="rect" coords="183,499,234,546" title="宮崎" href="circles?prefecture_code=45" alt="" />

  <area shape="rect" coords="66,601,176,648" title="鹿児島" href="circles?prefecture_code=46" alt="" />

  <area shape="rect" coords="69,683,123,736" title="沖縄" href="circles?prefecture_code=47" alt="" />
</map>