<footer class="footer">
  <div class="container">
    <div class="row">
      
      <div class="col-md-3 offset-md-2">
        <p>サイトに関するお問い合わせ</p>
      </div>
      
      <div class="col-md-3 offset-md-1">
        <p>TEL xxx-xxxx-xxxx</p>
      </div>
      
      <div class="col-md-2">
        <p>Email xxx@xxx</p>
      </div>
      
    </div>
  </div>
</footer>