<footer class="footer">
  <div class="container">
    <div class="row">

      <div class="Edit-btn offset-5">
        <%= link_to "サイトに関するお問い合わせ", new_contact_path, class: "Editlink" %>
      </div>

    </div>
  </div>
</footer>