<footer class="footer">
  <div class="container">
    <div class="row">
      
      <div class="Edit-btn col-3 offset-2">
        <%= link_to "サイトに関するお問い合わせ", new_contact_path, class: "Editlink" %>
      </div>
      
      <div class="col-3 offset-1">
        <p>TEL xxx-xxxx-xxxx</p>
      </div>
      
      <div class="col-2">
        <p>Email xxx@xxx</p>
      </div>
      
    </div>
  </div>
</footer>